{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Required meta tags-->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="au theme template">
    <meta name="author" content="Hau Nguyen">
    <meta name="keywords" content="au theme template">

    <!-- Title Page-->
    <title>ISell</title>

    <!-- Fontfaces CSS-->
    <link rel="icon" href="{% static 'img/favicon.png' %}" type="image/png">
    <link href="{% static 'isell/css/font-face.css' %}" rel="stylesheet" media="all">
    <link href="{% static 'isell/vendor/font-awesome-4.7/css/font-awesome.min.css' %}" rel="stylesheet" media="all">
    <link href="{% static 'isell/vendor/font-awesome-5/css/fontawesome-all.min.css' %}" rel="stylesheet" media="all">
    <link href="{% static 'isell/vendor/mdi-font/css/material-design-iconic-font.min.css' %}" rel="stylesheet" media="all">

    <!-- Bootstrap CSS-->
    <link href="{% static 'isell/vendor/bootstrap-4.1/bootstrap.min.css' %}" rel="stylesheet" media="all">

    <!-- Vendor CSS-->
    <link href="{% static 'isell/vendor/animsition/animsition.min.css' %}" rel="stylesheet" media="all">
    <link href="{% static 'isell/vendor/bootstrap-progressbar/bootstrap-progressbar-3.3.4.min.css' %}" rel="stylesheet" media="all">
    <link href="{% static 'isell/vendor/wow/animate.css' %}" rel="stylesheet" media="all">
    <link href="{% static 'isell/vendor/css-hamburgers/hamburgers.min.css' %}" rel="stylesheet" media="all">
    <link href="{% static 'isell/vendor/slick/slick.css' %}" rel="stylesheet" media="all">
    <link href="{% static 'isell/vendor/select2/select2.min.css' %}" rel="stylesheet" media="all">
    <link href="{% static 'isell/vendor/perfect-scrollbar/perfect-scrollbar.css' %}" rel="stylesheet" media="all">

    <!-- Main CSS-->
    <link href="{% static 'isell/css/theme.css' %}" rel="stylesheet" media="all">
    <style>



    </style>

</head>

<body class="animsition">
    <div class="page-wrapper" style="padding-bottom:0px">
        <!-- HEADER DESKTOP-->


        <header class="header-desktop3 d-none d-lg-block">
            <div class="section__content section__content--p35">
                <div class="header3-wrap">
                    <div class="header__logo" style="margin-left: 100px">
                                <div class="logo">
                                     <a href="{% url 'isell:isell_home' %}" style="color:#ddd;font-size:xx-large;font-family:Candara"><i class="fa fa-shopping-cart" aria-hidden="true" style="color:#e37e06;font-size:xx-large"></i>&nbsp; ISell</a>
                                </div>
                    </div>
                    <div class="header__navbar">
                        <ul class="list-unstyled">
                            <li class="has-sub">
                                <a href="{% url 'isell:isell_home' %}" style="font-size: large;">
                                    <i class="fas fa-tachometer-alt"></i>Dashboard
                                    <span class="bot-line"></span>
                                </a>

                            </li>
                            <li>
                                <a href="{% url 'isell:add_products' %}" >
                                    <i class="fas fa-rupee-sign"></i>
                                    <span class="bot-line" ></span>
                                    Add Products</a>
                            </li>
                            <li class="has-sub">
                                <a href="#" style="font-size: large;">
                                    <i class="fas fa-copy"></i>
                                    <span class="bot-line"></span>
                                    History</a>
                                <ul class="header3-sub-list list-unstyled">
                                    <li>
                                        <a href="{% url 'isell:delivered_products' %}">Delivered products</a>
                                    </li>
                                    <li>
                                        <a href="{% url 'isell:applied_loans' %}">Applied loans</a>
                                    </li>
                                </ul>
                            </li>
                            <li>
                                <a href="#" style="font-size: large;">
                                    <i class="fas fa-line-chart"></i>
                                    <span class="bot-line"></span>Statistics</a>
                            </li>
                            <li>
                                <a href="#" style="font-size: large;">
                                    <i class="fas fa-home"></i>
                                    <span class="bot-line"></span>Home</a>
                            </li>
                        </ul>
                    </div>
                    <div class="header__tool">
                        <div class="header-button-item has-noti js-item-menu">
                            <i class="zmdi zmdi-notifications"></i>
                            <div class="notifi-dropdown notifi-dropdown--no-bor js-dropdown">
                                <div class="notifi__title">
                                    <p>You have 3 Notifications</p>
                                </div>
                                <div class="notifi__item">
                                    <div class="bg-c1 img-cir img-40">
                                        <i class="zmdi zmdi-email-open"></i>
                                    </div>
                                    <div class="content">
                                        <p>You got a email notification</p>
                                        <span class="date">April 12, 2018 06:50</span>
                                    </div>
                                </div>
                                <div class="notifi__item">
                                    <div class="bg-c2 img-cir img-40">
                                        <i class="zmdi zmdi-account-box"></i>
                                    </div>
                                    <div class="content">
                                        <p>Your account has been blocked</p>
                                        <span class="date">April 12, 2018 06:50</span>
                                    </div>
                                </div>
                                <div class="notifi__item">
                                    <div class="bg-c3 img-cir img-40">
                                        <i class="zmdi zmdi-file-text"></i>
                                    </div>
                                    <div class="content">
                                        <p>You got a new file</p>
                                        <span class="date">April 12, 2018 06:50</span>
                                    </div>
                                </div>
                                <div class="notifi__footer">
                                    <a href="#">All notifications</a>
                                </div>
                            </div>
                        </div>

                        <div class="account-wrap">
                            <div class="account-item account-item--style2 clearfix js-item-menu">
                                <div class="image">
                                    <img src="{% static 'isell/images/icon/avatar-01.jpg' %}" alt="John Doe" />
                                </div>
                                <div class="content">
                                    <a class="js-acc-btn" href="#">john doe</a>
                                </div>
                                <div class="account-dropdown js-dropdown">
                                    <div class="info clearfix">
                                        <div class="image">
                                            <a href="#">
                                                <img src="{% static 'isell/images/icon/avatar-01.jpg' %}" alt="John Doe" />
                                            </a>
                                        </div>
                                        <div class="content">
                                            <h5 class="name">
                                                <a href="#">john doe</a>
                                            </h5>
                                            <span class="email">johndoe@example.com</span>
                                        </div>
                                    </div>
                                    <div class="account-dropdown__body">
                                        <div class="account-dropdown__item">
                                            <a href="#">
                                                <i class="zmdi zmdi-account"></i>Account</a>
                                        </div>
                                        <div class="account-dropdown__item">
                                            <a href="#">
                                                <i class="zmdi zmdi-settings"></i>Setting</a>
                                        </div>
                                        <div class="account-dropdown__item">
                                            <a href="#">
                                                <i class="zmdi zmdi-money-box"></i>Billing</a>
                                        </div>
                                    </div>
                                    <div class="account-dropdown__footer">
                                        <a href="#">
                                            <i class="zmdi zmdi-power"></i>Logout</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </header>
        <!-- END HEADER DESKTOP-->


        <!-- PAGE CONTENT-->
        <div class="page-content--bgf7">
            <!-- BREADCRUMB-->

            <!-- END BREADCRUMB-->

            <!-- WELCOME-->
            <section class="welcome p-t-10" >
                <div class="container"style="margin-top: 4vh">
                    <div class="row">
                        <div class="col-md-12">
                            <h1 class="title-4">Hey
                                <span>John!!</span>
                            </h1>
                            <hr class="line-seprate">
                        </div>
                    </div>
                </div>
            </section>



<br><br>

        <div class="section__content section__content--p30" style="width: 80%">
          <div class="container-fluid">
            <div class="row">
              <div class="col-md-12">


                <div class="card">
                  <div class="card-header">
                      <strong class="card-title" style="font-size: large">PRODUCT DETAILS <span style="float: right">( {{ product_details.category_1 }} - {{ product_details.category_2 }} )</span></strong>
                  </div>

                  <div class="card-body">
                    <div class="typo-headers" style="padding-top: 20px">
                      <h2 class="pb-2 display-5">{{product_details.product_title}}</h2>
                    </div>
                      <br>
                    <div class="typo-articles">
                      <p style="font-size: large">
                        &emsp;&emsp;&emsp;&emsp;{{ product_details.product_description }}
                      </p>
                    </div><br><br><br>
                    <div class="vue-lists">
                        <h3 class="mb-4" style="font-weight: normal"><u>Product types:</u></h3>


                        <h3 class="mb-4" style="font-weight: normal"><u>Additional information regarding types:</u></h3>
                        <div class="typo-articles">
                      <p style="font-size: large">
                        &emsp;&emsp;&emsp;&emsp;{{ product_details.additional_information }}
                      </p>
                    </div>
                        <br><br><br>
                         <h3 class="mb-4" style="font-weight: normal"><u>Customizations offered:</u></h3>


                        <table style="width:50%;text-align: center">
                          <tr>
                            <th style="padding-bottom: 5px">Type</th>
                            <th style="padding-bottom: 5px">Allowed customizations</th>
                          </tr>
                             {% for each in product_details.product_customisation_available %}
                                 {% for k,v in each.items %}
                            <tr>
                            <td>{{k}}</td>
                            <td>{{v}}</td>
                          </tr>{% endfor %}{% endfor %}


                        </table><br>

                        <h3 class="mb-4" style="font-weight: normal"><u>Additional information regarding customizations:</u></h3>
                        <div class="typo-articles">
                      <p style="font-size: large">
                        &emsp;&emsp;&emsp;&emsp;{{ product_details.additional_customization_information }}
                      </p>
                    </div>










                        <br><br><br><br>
                      <div class="row">
                        <div class="col-md-6">
                          <h3>Unordered</h3>
                          <ul>
                            <li>
                              A wide variety of hypotheses have been proposed to account for the evolution of the striking stripes of zebras.
                            </li>
                            <li>The more traditional of these (1 and 2, below) relate to camouflage.</li>
                            <li>The vertical striping may help the zebra hide in the grass by disrupting its outline.</li>
                            <li>
                              In addition, even at moderate distances, the striking striping merges to an apparent grey.
                              <ul class="vue-list-inner">
                                <li>However, the camouflage has been contested with arguments that most of a zebra's predator.</li>
                                <li>Such as lions and hyenas cannot see well at a distance.</li>
                                <li>More likely to have smelled or heard a zebra.</li>
                              </ul>
                            </li>
                            <li>Before seeing it from a distance, especially at night.</li>
                          </ul>
                        </div>
                        <div class="col-md-6 text-left">
                          <div>
                            <h3>Ordered</h3>
                            <ol class="vue-ordered">
                              <li>
                                A wide variety of hypotheses have been proposed to account for the evolution of the striking stripes of zebras.
                              </li>
                              <li>The more traditional of these (1 and 2, below) relate to camouflage.</li>
                              <li>The vertical striping may help the zebra hide in the grass by disrupting its outline.</li>
                              <li>
                                In addition, even at moderate distances, the striking striping merges to an apparent grey.
                                <ul class="vue-list-inner">
                                  <li>However, the camouflage has been contested with arguments that most of a zebra's predator.
                                  </li>
                                  <li>Such as lions and hyenas cannot see well at a distance.</li>
                                  <li>More likely to have smelled or heard a zebra.</li>
                                </ul>
                              </li>
                              <li>Before seeing it from a distance, especially at night.</li>
                            </ol>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="vue-misc">
                      <h2 class="display-5 my-3">Misc</h2>
                      <div class="row">
                        <div class="col-md-6">
                          <h3>Address</h3>
                          <address class="mt-3">
                            <strong>SJØNNA</strong>
                            <br> Nezalezhnasti Ave, 13 - 28A
                            <br> Minsk, Belarus, 220141
                            <br> +375 29 319-53-98
                            <br>
                            <br>
                            <b>Vasili Savitski</b>
                            <br>
                            <a href="mailto">hello@examplemail.com</a>

                          </address>
                        </div>
                        <div class="col-md-6">
                          <h3 class="mb-3">Well</h3>
                          <div class="jumbotron">
                            Zebras have excellent eyesight. It is believed that they can see in color. Like most ungulates, the zebra's eyes are on the
                            sides of its head, giving it a wide field of view.
                          </div>
                        </div>
                      </div>
                    </div>

                  </div>
                </div>


              </div>
            </div>
          </div>
        </div>
      </div>















        </div>

    <!-- Jquery JS-->
    <script src="{% static 'isell/vendor/jquery-3.2.1.min.js' %}"></script>
    <!-- Bootstrap JS-->
    <script src="{% static 'isell/vendor/bootstrap-4.1/popper.min.js' %}"></script>
    <script src="{% static 'isell/vendor/bootstrap-4.1/bootstrap.min.js' %}"></script>
    <!-- Vendor JS       -->
    <script src="{% static 'isell/vendor/slick/slick.min.js' %}">
    </script>
    <script src="{% static 'isell/vendor/wow/wow.min.js' %}"></script>
    <script src="{% static 'isell/vendor/animsition/animsition.min.js' %}"></script>
    <script src="{% static 'isell/vendor/bootstrap-progressbar/bootstrap-progressbar.min.js' %}">
    </script>
    <script src="{% static 'isell/vendor/counter-up/jquery.waypoints.min.js' %}"></script>
    <script src="{% static 'isell/vendor/counter-up/jquery.counterup.min.js' %}">
    </script>
    <script src="{% static 'isell/vendor/circle-progress/circle-progress.min.js' %}"></script>
    <script src="{% static 'isell/vendor/perfect-scrollbar/perfect-scrollbar.js' %}"></script>
    <script src="{% static 'isell/vendor/chartjs/Chart.bundle.min.js' %}"></script>
    <script src="{% static 'isell/vendor/select2/select2.min.js' %}">
    </script>

    <!-- Main JS-->
    <script src="{% static 'isell/js/main.js' %}"></script>

</body>

</html>
<!-- end document-->
