{%load static%}
<!DOCTYPE html>
<html lang="en" >
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>IChoose Shop - Login</title>
	<link rel="icon" href={% static 'img/Fevicon.png' %} type="image/png">
  <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.12.1/css/all.min.css">
	<link rel="stylesheet" href="{% static 'css/themify-icons.css' %}">
	<link rel="stylesheet" href="{% static 'css/linericon.css' %}">
  <link rel="stylesheet" href="{% static 'css/owl.theme.default.min.css' %}">
  <link rel="stylesheet" href="{% static 'css/owl.carousel.min.css' %}">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

  <link rel="stylesheet" href={% static 'css/style.css' %} >


       <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>

    <style>
        .capbox {
	display: inline-block;
	*display: inline; zoom: 1; /* FOR IE7-8 */
	padding: 8px 40px 8px 8px;
	}

#CaptchaDiv {
	font: bold 17px verdana, arial, sans-serif;
	font-style: italic;
	color: #000000;
	background-color: #FFF;
    transform: rotate(-20deg);
	padding: 4px;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	border-radius: 4px;
    filter: blur(1.5px);
	}

#CaptchaInput { margin: 1px 0px 1px 0px; width: 135px; }

.fa {
  font-size: 30px;
  width: 30px;
  text-align: center;
  text-decoration: none;
  border-radius: 50%;
}

.fa:hover {
    opacity: 0.7;
}
.fa-google {
  background: white;
  color: #dd4b39;
}
.fa-facebook {
  background: white;
  color: #3B5998;
}
.fa-twitter {
  background: white;
  color: #55ACEE;
}


    </style>
</head>
<body>
{#	<!--================ Start Header Menu Area =================-->#}
{#	<header class="header_area">#}
{#    <div class="main_menu">#}
{#      <nav class="navbar navbar-expand-lg navbar-light">#}
{#        <div class="container">#}
{#          <a class="navbar-brand logo_h" href="index.html"><img src={% static 'img/logo.png' %} alt=""></a>#}
{#          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"#}
{#            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">#}
{#            <span class="icon-bar"></span>#}
{#            <span class="icon-bar"></span>#}
{#            <span class="icon-bar"></span>#}
{#          </button>#}
{#          <div class="collapse navbar-collapse offset" id="navbarSupportedContent">#}
{#            <ul class="nav navbar-nav menu_nav ml-auto mr-auto">#}
{#              <li class="nav-item"><a class="nav-link" href="index.html">Home</a></li>#}
{#              <li class="nav-item submenu dropdown">#}
{#                <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"#}
{#                  aria-expanded="false">Shop</a>#}
{#                <ul class="dropdown-menu">#}
{#                  <li class="nav-item"><a class="nav-link" href="category.html">Shop Category</a></li>#}
{#                  <li class="nav-item"><a class="nav-link" href="single-product.html">Blog Details</a></li>#}
{#                  <li class="nav-item"><a class="nav-link" href="checkout.html">Product Checkout</a></li>#}
{#                  <li class="nav-item"><a class="nav-link" href="confirmation.html">Confirmation</a></li>#}
{#                  <li class="nav-item"><a class="nav-link" href="cart.html">Shopping Cart</a></li>#}
{#                </ul>#}
{#							</li>#}
{#              <li class="nav-item submenu dropdown">#}
{#                <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"#}
{#                  aria-expanded="false">Blog</a>#}
{#                <ul class="dropdown-menu">#}
{#                  <li class="nav-item"><a class="nav-link" href="blog.html">Blog</a></li>#}
{#                  <li class="nav-item"><a class="nav-link" href="single-blog.html">Blog Details</a></li>#}
{#                </ul>#}
{#							</li>#}
{#							<li class="nav-item active submenu dropdown">#}
{#                <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"#}
{#                  aria-expanded="false">Pages</a>#}
{#                <ul class="dropdown-menu">#}
{#                  <li class="nav-item"><a class="nav-link" href="login.html">Login</a></li>#}
{#                  <li class="nav-item"><a class="nav-link" href="signup.html">Register</a></li>#}
{#                  <li class="nav-item"><a class="nav-link" href="tracking-order.html">Tracking</a></li>#}
{#                </ul>#}
{#              </li>#}
{#              <li class="nav-item"><a class="nav-link" href="contact.html">Contact</a></li>#}
{#            </ul>#}
{##}
{#            <ul class="nav-shop">#}
{#              <li class="nav-item"><button><i class="ti-search"></i></button></li>#}
{#              <li class="nav-item"><button><i class="ti-shopping-cart"></i><span class="nav-shop__circle">3</span></button> </li>#}
{#              <li class="nav-item"><a class="button button-header" href="#">Buy Now</a></li>#}
{#            </ul>#}
{#          </div>#}
{#        </div>#}
{#      </nav>#}
{#    </div>#}
{#  </header>#}
	<!--================ End Header Menu Area =================-->

  <!-- ================ start banner area ================= -->

	<!-- ================ end banner area ================= -->

  <!--================Login Box Area =================-->
	<section class="login_box_area section-margin" style="margin-top: 55px;margin-bottom: 0px;margin-left:250px;width: 900px">
		<div class="container" style="width: 1000px;height: 700px">
			<div class="row">
				<div class="col-lg-6">
					<div class="login_box_img">
						<div class="hover">
							<h4>New to our website?</h4>
							<p>There are advances being made in science and technology everyday, and a good example of this is the</p>
							<a class="button button-account" href="{% url 'registration:signup' %}">Create an Account</a>
						</div>
					</div>
				</div>
				<div class="col-lg-6" style="height: 610px">
					<div class="login_form_inner" style="padding-top: 50px">
                        <h3><b>Log in to enter</b></h3>
                                                 {% if messages %}

    {% for message in messages %}
         <div class="alert alert-danger">
    <strong>Danger!</strong> {{ message }}
  </div>
{#    <h6  style="color: red;text-align: center" class="{{ message.tags }}">{{ message }}</h6>#}
    {% endfor %}

{% endif %}

						<form class="row login_form" method="post" action="{% url 'registration:login' %}" id="contactForm" >
                            {% csrf_token %}
							<div class="col-md-12 form-group">
								<input type="text" class="form-control" id="username" name="username" placeholder="Username" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Username'" required>
							</div>
							<div class="col-md-12 form-group">
								<input type="password" class="form-control" id="password" name="password" placeholder="Password" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Password'" required>
							</div>
							<div class="col-md-12 form-group">
{#								<div class="creat_account">#}
{#									<input type="checkbox" id="f-option2" name="selector">#}
{#									<label for="f-option2">Keep me logged in</label>#}
{#								</div>#}
							</div>

                                                            <!-- START CAPTCHA -->
                                <br>
                            <div class="capbox" style="position: absolute;box-shadow:4px 4px 4px 4px grey;height:80px;top: 350px;width:340px;left: 85px;background-color: rgba(6,95,208,0.63)">

                                <div id="CaptchaDiv" style="color: #005cbf;width: 100px;margin-top: 20px;margin-left: 10px"></div>
                                    <div class="line" style="position: absolute;top:10px;left:125px;height: 60px;background-color: grey;width: 2px"></div>
                                <p style="position:absolute;left:135px;top: 15px">Type<br>the<br>Captcha</p><br>
                                    <div class="line" style="position: absolute;top:10px;left:200px;height: 60px;background-color: gray;width: 2px"></div>
                                <div style="position: absolute;right: 10px;top: 25px;width: 120px">
                                <input type="hidden" name="txtCaptcha" id="txtCaptcha" >
                                <input type="text" style="width: 100px;border-radius: 5px;height: 30px" name="CaptchaInput" id="CaptchaInput" size="10" required><br>
                                </div>
                                </div>
                                <br><br>
                                <!-- END CAPTCHA -->




						</form>
                    <div class="col-md-12 form-group" style="position: absolute;top: 450px;width: 400px">
								<button type="submit" value="submit" class="button button-login w-100">Log In</button>
								<a href="{% url 'registration:forgot_password' %}">Forgot Password?</a>
							</div>
                    <div style="position: absolute;top: 550px;left: 200px;">
                            <div class="col-lg-4 form-group">
								<a href="{% url 'social:begin' 'google-oauth2' %}" class="fa fa-google" ></a>
							</div>

                            <div class="col-lg-4 form-group">
							    <a href="{% url 'social:begin' 'facebook' %}" class="fa fa-facebook"></a>
                            </div>

                            <div class="col-lg-4 form-group">
							    <a href="{% url 'social:begin' 'twitter' %}" class="fa fa-twitter"></a>
                            </div>
                    </div>
					</div>
				</div>
			</div>
		</div>
	</section>
	<!--================End Login Box Area =================-->

{##}
{##}
{#  <!--================ Start footer Area  =================-->#}
{#	<footer>#}
{#		<div class="footer-area footer-only">#}
{#			<div class="container">#}
{#				<div class="row section_gap">#}
{#					<div class="col-lg-3 col-md-6 col-sm-6">#}
{#						<div class="single-footer-widget tp_widgets ">#}
{#							<h4 class="footer_title large_title">Our Mission</h4>#}
{#							<p>#}
{#								So seed seed green that winged cattle in. Gathering thing made fly you're no#}
{#								divided deep moved us lan Gathering thing us land years living.#}
{#							</p>#}
{#							<p>#}
{#								So seed seed green that winged cattle in. Gathering thing made fly you're no divided deep moved#}
{#							</p>#}
{#						</div>#}
{#					</div>#}
{#					<div class="offset-lg-1 col-lg-2 col-md-6 col-sm-6">#}
{#						<div class="single-footer-widget tp_widgets">#}
{#							<h4 class="footer_title">Quick Links</h4>#}
{#							<ul class="list">#}
{#								<li><a href="#">Home</a></li>#}
{#								<li><a href="#">Shop</a></li>#}
{#								<li><a href="#">Blog</a></li>#}
{#								<li><a href="#">Product</a></li>#}
{#								<li><a href="#">Brand</a></li>#}
{#								<li><a href="#">Contact</a></li>#}
{#							</ul>#}
{#						</div>#}
{#					</div>#}
{#					<div class="col-lg-2 col-md-6 col-sm-6">#}
{#						<div class="single-footer-widget instafeed">#}
{#							<h4 class="footer_title">Gallery</h4>#}
{#							<ul class="list instafeed d-flex flex-wrap">#}
{#								<li><img src="{% static 'img/gallery/r1.jpg' %}" alt=""></li>#}
{#								<li><img src="{% static 'img/gallery/r2.jpg' %}" alt=""></li>#}
{#								<li><img src="{% static 'img/gallery/r3.jpg' %}" alt=""></li>#}
{#								<li><img src="{% static 'img/gallery/r5.jpg' %}" alt=""></li>#}
{#								<li><img src="{% static 'img/gallery/r7.jpg' %}" alt=""></li>#}
{#								<li><img src="{% static 'img/gallery/r8.jpg' %}" alt=""></li>#}
{#							</ul>#}
{#						</div>#}
{#					</div>#}
{#					#}
{##}
{#		#}
{#	</footer>#}
{#	<!--================ End footer Area  =================-->#}
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.4.1/js/bootstrap.bundle.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/skrollr/0.6.30/skrollr.min.js"></script>
  <script src="{% static 'js/owl.carousel.min.js' %}"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-nice-select/1.1.0/js/jquery.nice-select.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-ajaxchimp/1.3.0/jquery.ajaxchimp.min.js"></script>

  <script src="{% static 'js/main.js' %}"></script>



<script type="text/javascript">

// Captcha Script

var a = Math.ceil(Math.random() * 9)+ '';
var b = Math.ceil(Math.random() * 9)+ '';
var c = Math.ceil(Math.random() * 9)+ '';
var d = Math.ceil(Math.random() * 9)+ '';
var e = Math.ceil(Math.random() * 9)+ '';

var code = a + b + c + d + e;
document.getElementById("txtCaptcha").value = code;
document.getElementById("CaptchaDiv").innerHTML = code;


</script>

</body>
</html>